{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

<div class="auth-user-form rounded-md !mb-10 overflow-hidden">
  <form{{ attributes.addClass('md:!px-20 !pb-5 !bg-gray-10 !text-primary-100 [&_button]:mx-auto [&_button]:block [&_p]:mb-5') }}>
    <h2 class="text-center text-2xl md:text-3xl font-header font-light italic text-primary-100 mb-5 md:mb-10">{% block form_header %}{% endblock %}</h2>
    {{ children }}
  </form>
  <div class="auth-user-form--footer md:!px-20 !pt-0 !bg-gray-10 text-primary-100 ">
    <div class="border-0 border-solid border-t border-t-gray-40 !pt-7">
      {% block form_footer %}{% endblock %}
    </div>
  </div>
</div>
