{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% extends "form--user-form.html.twig" %}
{% block form_header %}
  {{ 'Sign up'|t }}
{% endblock %}
{% block form_footer %}
  <h3>{{ ('Are you a member?'|t) }}</h3>
    <a class="mx-auto block border border-primary-20 duration-200 group hover:bg-primary-100 hover:border-primary-100 hover:text-white icon-before max-w-md mb-[15px] md:text-lg px-5 py-[11px] rounded-full text-basis text-primary-100 transition w-full" href="{{ path('user.login') }}}">
    {{ 'Log in'|t }}
    <svg class="inline-block mb-1 ml-5 group-hover:translate-x-2 transition duration-200" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="stroke-primary-100 group-hover:stroke-white transition duration-200" d="M1 1L5 5L1 9" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </a>
{% endblock %}
