{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

<div class="auth-user-form rounded-md overflow-hidden">
  <form{{ attributes.addClass('md:!px-20 !pb-10 !bg-gray-10') }}>
    <h2 class="text-center bg-prima text-4xl md:text-5xl mb-10 md:mb-20">{% block form_header %}{% endblock %}</h2>
    {{ children }}
  </form>
  <div class="auth-user-form--footer md:px-20 !bg-gray-10 ">
    {% block form_footer %}{% endblock %}
  </div>
</div>
