{% extends 'input.html.twig' %}
{#
/**
 * @file
 * Theme suggestion for "button" input form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - icon: An icon.
 * - icon_only: Flag to display only the icon and not the label.
 * - icon_position: Where an icon should be displayed.
 * - label: button label.
 * - prefix: Markup to display before the input element.
 * - suffix: Markup to display after the input element.
 * - type: The type of input.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\InputButton
 * @see \Drupal\bootstrap\Plugin\Preprocess\Input
 * @see template_preprocess_input()
 */
#}
{% block input %}
	{% apply spaceless %}
	{% set classes = [
		'group absolute top-0 right-0',
		type == 'submit' ? 'js-form-submit',
		icon and icon_position and not icon_only ? 'icon-' ~ icon_position
	] %}
	<button {{ attributes.addClass(classes, 'btn-link button js-form-submit form-submit icon-only') }}
		data-drupal-selector="edit-wishlist"
		formnovalidate="formnovalidate"
		type="submit"
		id="edit-wishlist"
		name="op"
		value="Add to wishlist"
		data-once="drupal-ajax">
		<svg class="stroke-primary-100 group-hover:stroke-brown-100 transition duration-200"
			xmlns="http://www.w3.org/2000/svg"
			width="40"
			height="40"
			viewBox="0 0 40 40"
			fill="none">
			<path d="M7.219 20.0788L20 33.3332L32.781 20.0788C34.2018 18.6054 35 16.607 35 14.5232C35 10.1841 31.608 6.6665 27.4239 6.6665C25.4145 6.6665 23.4875 7.49426 22.0667 8.96769L20 11.1109L17.9333 8.96769C16.5125 7.49427 14.5855 6.6665 12.5761 6.6665C8.39195 6.6665 5 10.1841 5 14.5232C5 16.607 5.7982 18.6054 7.219 20.0788Z"
				stroke-linecap="round"
				stroke-linejoin="round" />
		</svg>
		<span class="sr-only">{{ label }}</span>
	</button>
	{{ children }}
	{% endapply %}
{% endblock %}
