{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{%- if fields.name -%}
    <div class="absolute inset-0 z-30 opacity-0 [&_a]:block [&_a]:w-full [&_a]:h-full transition duration-300 group-hover:scale-105">
        {{ fields.name.content }}
    </div>
{%- endif %}
{%- if fields.field_tile_image -%}
    <div class="[&_img]:!m-0 [&_img]:!h-full [&_img]:object-cover absolute inset-0 z-0">
        {{ fields.field_tile_image.content }}
    </div>
{%- endif %}
<div class="absolute inset-x-0 bottom-0 h-full z-10 bg-gradient-to-t from-black/90 to-transparent"></div>
<div class='relative z-20 max-w-[345px]'>
    {%- if fields.name_1 -%}
    <h3 class="!font-header !italic !text-white !text-4xl md:!text-5xl !font-normal !mb-7 group-hover:underline">
        {{ fields.name_1.content }}
    </h3>
    {%- endif %}
    {%- if fields.field_baner_tekst -%}
    <div class="[&_p]:!text-white leading-normal [&_p]:!text-[13px] [&_p]:!font-normal [&_p]:!mb-0 mb-4 md:mb-7 ">
        {{ fields.field_baner_tekst.content }}
    </div>
    {%- endif %}
    <div class="shrink-0 relative z-10 pointer-events-none flex items-center justify-center w-[50px] h-[50px] rounded-full group-hover:bg-white border border-white bg-transparent transition duration-200" >
      <svg class="group-hover:stroke-brown-100 stroke-white transition duration-200" width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.75 4.5H8.5625M8.5625 4.5L4.8125 0.75M8.5625 4.5L4.8125 8.25" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </div>
</div>