{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<div class="px-5 border-b-2 border-b-[#EDF2F4]">
{%- if fields.title -%}
    <div class="group w-full flex justify-between py-[30px] collapsed cursor-pointer [&:not(.collapsed)_svg]:rotate-180" data-toggle="collapse" aria-expanded="false" data-target="#faq-content-{{ row.index }}" data-parent=".view-faq-accordion">
        <h3 class="!text-base md:!text-lg text-primary-100 !mb-0">
            {{ fields.title.content }}
        </h3>
        <div class="w-[30px] h-[30px] rounded-full border border-primary-100 flex items-center justify-center group-hover:bg-primary-100 transition duration-200">
            <svg class="fill-primary-100 group-hover:fill-white transition duration-200" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <path d="M5 2.5L5 7.70833M5 7.70833L7.5 5.20833M5 7.70833L2.5 5.20833" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
{%- endif %}
{%- if fields.field_body -%}
    <div id="faq-content-{{ row.index }}" class="collapse" aria-expanded="false">
        <p class="pb-10 text-primary-100 !text-[13px]">
            {{ fields.field_body.content }}
        </p>
    </div>
{%- endif %}
</div>
