{#
/**
 * @file
 * Default theme implementation of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @ingroup templates
 *
 * @see template_preprocess_image()
 */
#}
{% set classes = [
  theme.settings.image_shape ? theme.settings.image_shape,
  theme.settings.image_responsive ? 'img-responsive',
] %}
<div class="w-[300px] sm:w-[500px] md:w-auto overflow-hidden">
    <img{{ attributes.addClass(classes,'w-full h-full object-cover hover:scale-105 transition duration-300') }} />
</div>