<div class="region-we-mega-menu !m-0 !ml-3 md-wide:!ml-0 bg-transparent px-0">
	<a class="navbar-toggle collapsed p-2 !m-0">
		<span class="block relative transition-all duration-300 w-5 h-0.5 bg-primary-100 rounded"></span>
		<span class="block relative transition-all duration-300 w-5 h-0.5 mt-1 bg-primary-100 rounded"></span>
		<span class="block relative transition-all duration-300 w-5 h-0.5 mt-1 bg-primary-100 rounded"></span>
	</a>
	<nav {{ attributes.removeClass('navbar-default').addClass('!bg-white !min-h-0 !w-full !-right-full md-wide:!right-auto !block !transition-transform !duration-500 overflow-x-hidden') }}>
		{{ content }}
	</nav>
</div>
