<div {{ attributes.addClass('w-full md-wide:max-h-[390px] bg-gray-10 md-wide:bg-neutral-90 px-5 md-wide:px-0 md-wide:!py-0 md-wide:!shadow-none') }}>
	<div class="we-mega-menu-submenu-inner">
		{{ row }}
	</div>
</div>
