{#
/**
 * @file
 * Default commerce price calculated template.
 *
 * Available variables:
 * - calculated_price: The calculated price.
 * - purchasable_entity: The purchasable entity.
 *
 * @ingroup themeable
 */
#}
{% set split_price = calculated_price|split(' ') %}
{# {{- calculated_price -}} #}
<span>{{ split_price[0] }}</span>
<span>{{ split_price[1] }}</span>
{{ dump() }}
