{#
/**
 * @file
 * Default commerce price calculated template.
 *
 * Available variables:
 * - calculated_price: The calculated price.
 * - purchasable_entity: The purchasable entity.
 *
 * @ingroup themeable
 */
#}
<div data-price-displayed="{{ result.calculatedPrice.number }}">
{{- calculated_price -}}
</div>
<div class="!hidden" data-price-base="{{ result.calculatedPrice.number }}"></div>
