@tailwind base;
@tailwind components;
@tailwind utilities;

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRhaWx3aW5kLnBjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEiLCJmaWxlIjoidGFpbHdpbmQucGNzcyIsInNvdXJjZXNDb250ZW50IjpbIkB0YWlsd2luZCBiYXNlO1xuQHRhaWx3aW5kIGNvbXBvbmVudHM7XG5AdGFpbHdpbmQgdXRpbGl0aWVzO1xuXG5AbGF5ZXIgYmFzZSB7XG4gIGlucHV0IHtcbiAgICBAYXBwbHkgYm9yZGVyIGJvcmRlci1ncmF5LTUwMDtcbiAgfVxufVxuXG5AbGF5ZXIgY29tcG9uZW50cyB7XG4gIC5ibG9jayxcbiAgLm5vZGUge1xuICAgIEBhcHBseSBtYi00O1xuICB9XG5cbiAgLm5vZGVfX2NvbnRlbnQgcCxcbiAgLm5vZGVfX2NvbnRlbnQgdWwsXG4gIC5ub2RlX19jb250ZW50IG9sIHtcbiAgICBAYXBwbHkgbWItNCBsZWFkaW5nLW5vcm1hbDtcbiAgfVxuXG4gIFtpZCQ9XCItbG9jYWwtdGFza3NcIl0gdWwge1xuICAgIEBhcHBseSBsaXN0LWRpc2MgbGlzdC1pbnNpZGU7XG4gIH1cbn1cbiJdfQ== */