{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <ol class="breadcrumb mt-1 mb-8 md:mb-16 ">
    {% for item in breadcrumb %}
      {% if item.text %}
        <li class="font-body text-xs !text-primary-100 font-medium last:font-normal before:text-[9px] before:italic before:font-semibold before:mr-[5px] before:!text-brown-100" >
          {% if item.url %}
            <a href="{{ item.url }}" class="!text-primary-100">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}
