{#
/**
 * @file
 * Theme override to display a custom layout.
 *
 * Available variables:
 * - layout_content: The layout content entity.
 * - attributes: The array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 * - content: The content of this custom layout.
#}
<div{{ attributes.addClass('mb-3 pb-3 md:pb-6 border-b border-gray-200') }}>
 
    {% if content.layout_regions.filters %}
        <span class="font-body text-sm text-primary-100 font-medium mb-2.5 md:mb-0">Filter by:</span>
        <div class="swiper overflow-visible" data-swiper-facets>
            <div class="swiper-wrapper flex justify-between ">
                {% if content.layout_regions.sort %}
                    <div class="swiper-slide md:hidden !w-auto shrink-0 [&_.form-item]:!m-0 pr-1 md:pr-0">
                        {{ content.layout_regions.sort }}
                    </div>
                {% endif %}
                <div class="swiper-slide !w-auto grow flex font-body shrink-0 md:shrink">
                    {{ content.layout_regions.filters }}
                </div>
                {% if content.layout_regions.sort %}
                    <div class="swiper-slide !hidden md:!block !w-auto shrink-0 [&_.form-item]:!m-0 pr-1 md:pr-0">
                        {{ content.layout_regions.sort }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <script>


        function initializeSwiper(){
            const swiperContainer = document.querySelector('[data-swiper-facets]')

            if (window.Swiper && swiperContainer){
                new Swiper(swiperContainer,{
                    slidesPerView: 'auto',
                    spaceBetween: 0,
                    enabled: true,
                    freeMode: true,
                    breakpoints:{
                        768:{
                            enabled: false,
                            freeMode: false
                        }
                    }
                })
            }
        }

        window.addEventListener("DOMContentLoaded", () => {

        if (window.jQuery) {
            
            var $filtersGroup = jQuery('.layout-content-region--filters');
            
            $filtersGroup.on('show.bs.collapse','.collapse', function() {
                $filtersGroup.find('.collapse.in').collapse('hide');
            });

            jQuery(document).on('click',function(){
                $filtersGroup.find('.collapse.in').collapse('hide');
            });
        }

        initializeSwiper()

    });
</script>
</div>
